@font-face {
    font-family: 'PS2P-Regular';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

body {
    background-color: black;
    font-family: 'PS2P-Regular';
    color: white;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.filter-item {
    padding: 12px 24px;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-item.active {
    background-color: white;
    color: black;
    font-weight: bold;
}

.filter-item:hover {
    background-color: white;
    color: black;
}

.vivod {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}