@font-face {
    font-family: 'PS2P-Regular';
    src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

html {
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.visor {
    background-color: rgb(15, 15, 15);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.title {
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-burger {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.menu-burger-line {
    height: 2px;
    width: 20px;
    background-color: white;
    border-radius: 45px;
}

.line {
    display: block;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.content {
    height: 1000px;
    padding: 10px;
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}


.footer_1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon {
    width: 25px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;
}

.icon:hover {
    transform: scale(1.1);
}


.footer_2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-family: 'PS2P-Regular';
    color: white;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(0, 0, 0);
    width: 200px;
    max-width: calc(100% - 20px);
    overflow: hidden;
    display: none;
    z-index: 1000;
    margin-top: 2px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0 16px;
    color: white;
    font-family: 'PS2P-Regular';
    text-decoration: none;
    font-size: 10px;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu.active {
    display: block;
}

@media screen and (max-width: 480px) {
    .title {
        width: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
    }

    .dropdown-menu {
        top: 100%;
        right: 10px;
        width: 180px;
        max-width: calc(100% - 20px);
    }
}